*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* App.css */
/*.page-container {
  padding-top: 80px; /* Space for your NavBar */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}*/